*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    min-height: 100vh;

}
section header{
    position: absolute;
    top: 0;
    text-align: center;
    justify-content: flex-end;
    display: flex;
    width: 100%;

}
section header ul{
     display: flex;
     justify-content: center;
     align-items: center;
     padding:10px ;
     list-style: none;
}
section header ul li{
    padding-left: 20px;
}
section header ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.705);
    font-size: 17px;
}
section header ul li button{
    padding: 7px;
    background-color: rgb(3, 126, 192);
    color: rgb(246, 249, 249);
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
section .main{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .main .text{
    position: relative;
    width: 93%;
    margin-top: 20px;
}
section .main .text .search{
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid rgb(114, 112, 112);
    border-radius: 50px;
    box-shadow: 1px 1px 3px,-1px -1px 3px;
    outline: none;
    font-size: 15px;
}
section .main .text .icon{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 12px;
}
section .main .text .icon .mic{
    margin-right: 25px;
    margin-top: -5px;
}
section .main .bt{
    margin-top: 16px; 
    display: flex;
    justify-content: center;
}
section .main .bt button{
     padding: 4px 8px;
    margin: 5px;
    background-color: rgb(196, 198, 199);
    color: rgb(74, 73, 72);
    font-size: 15px;
    outline: none;
    border:1px solid transparent ;
    cursor: pointer;
}
section .main .lang{
    margin: 10px;
    font-size: 15px;
}
section .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: rgb(205, 204, 204);

}
section .footer .ftr{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(92, 87, 79);

}
section .footer .ftr ul{
    list-style: none;
    display: flex;
}
section .footer .ftr ul li{
    display: flex;
    justify-content: center;
    padding:1px 10px;
    font-size: 15px;
}
section .footer .ftr ul li:hover{
    border: 1px solid;
    background-color: rgb(198, 196, 196);
    padding: 2px 10px;
    text-shadow: 2px 2px 3px black;
}
@media (max-width:900px){
    
    section{
        width: 123%;
        min-height: 125vh;

    }
}